<aside class="layout-sidebar">
  <ul class="layout-menu">
    <li>
      <a [routerLink]="['/console/tenants']" routerLinkActive="active">
        <i class="pi pi-building layout-menuitem-icon"></i>
        <span>Tenants</span>
      </a>
    </li>
    @if (selectedTenant(); as tenant) {
      <li>
        <a [routerLink]="['/console/tenants', tenant.id, 'systems']" routerLinkActive="active">
          <i class="pi pi-th-large layout-menuitem-icon"></i>
          <span>Sistemas</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/console/tenants', tenant.id, 'users']" routerLinkActive="active">
          <i class="pi pi-users layout-menuitem-icon"></i>
          <span>Usuários</span>
        </a>
      </li>
    }
    <li>
      <a [routerLink]="['/console/platform-admins']" routerLinkActive="active">
        <i class="pi pi-shield layout-menuitem-icon"></i>
        <span>Platform Admins</span>
      </a>
    </li>
  </ul>
</aside>
