<div class="form-group-container">
  <div class="flex flex-row gap-1 align-items-center mb-1">
    <label [for]="for()" [class.error-color]="errorMessage()">
      @if (icon()) {
        <i [class]="icon()"></i>
      }
      {{ label() }}
    </label>
    @if (tooltipMessage()) {
      <i class="pi pi-info-circle" [pTooltip]="tooltipMessage()" tooltipPosition="top"></i>
    }
  </div>

  <ng-content></ng-content>

  @if (errorMessage()) {
    <span [id]="for() + '-error'" class="error-color text-small font-medium mt-1 block" role="alert">
      {{ errorMessage() }}
    </span>
  }
</div>
